click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-Admin==1.6.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
SQLAlchemy==1.4.32
Werkzeug==2.0.3
WTForms==3.0.1

